body {
  background-color: green;
}

#navbar {
  text-align: right;
  font-size: 40px;
  background-color: black;
  padding: 10px;
}

a {
  text-decoration: none;
  color: green;
  margin-right: 20px;
}

a:hover {
  font-size: 45px;
}
